---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="know me better"
	pubDate={new Date('Jan 01 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		im roo what else you want to know
	</p>
</Layout>
